html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}
body.waiting {
  background-color: #fc6;
}
body.chilling {
  background-color: #000;
}
body.hacking {
  background-color: #396;
}

pre {
  padding: 3vw;
  font-size: calc(100vw / 40);
}
